<%= content_tag :h1, "List of Nested Othperformeds" %>


<div class="text-end mb-3">
  <%= link_to new_nested_othperformed_path, class: 'btn btn-primary' do %>
    New Nested Othperformed
  <% end %>
</div>


  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
      <th>#</th>
            <th>Job Performed</th>
            <th>Job Done</th>
            <th>Job Hr</th>
            <th>Job Min</th>
            <th>Job Current</th>
            <th>Job Reason</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
      <% @nested_othperformeds.each do |nested_othperformed| %>
        <tr>

        <th scope="row"><%= nested_othperformed.id %></th>
        <td><%= nested_othperformed.job_performed %></td>
        <td><%= nested_othperformed.job_done %></td>
        <td><%= nested_othperformed.job_hr %></td>
        <td><%= nested_othperformed.job_min %></td>
        <td><%= nested_othperformed.job_current %></td>
        <td><%= nested_othperformed.job_reason %></td>
    
          <td>
            <%= link_to 'View', nested_othperformed, class: 'btn btn-secondary btn-sm' %>
            <%= link_to 'Edit', edit_nested_othperformed_path(nested_othperformed), class: 'btn btn-secondary btn-sm' %>
            <%= link_to "Delete", nested_othperformed, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
