<style>
  /* Add CSS to float the button to the right */
  #addRowBtn, #addrows {
    float: right;
   
  }
  #float {
    float: right;
    margin-left: 10px;
  }
</style>
<%= simple_form_for(@jb_description) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


        <div class="card">
  <h6 class="card-header ">List your current job description </h5>
  <div class="card-body">
        <div class="row justify-content-center">
          <div class="col">
            <table class="table ">
              <button type="button" class="btn btn-success" id="addrows">+</button>
              <thead>
              <tr>
                <td class="col-11">
                  <%= f.input :description, as: :string, input_html: { class: 'form-control' } %>
                </td>
                <td>
                  
                </td>
              </tr>
            </thead>
              <tbody id="description">
                <!-- Use fields_for to handle nested attributes -->
                <%= f.fields_for :nested_descriptions do |d| %>
                  <tr>
                    <td class="col-11">
                      <%= d.input :description, input_html:{class: 'form-control'} %>
                    </td>
                    <td>
                    <br>
                      <button type="button" class="removebenefit btn btn-danger">Remove</button>
                    
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          </div>
            </div>
          </div>
          
       



  <br>
  <hr>
<div class="card">
  <h6 class="card-header ">Based on your job description, what are task that you are currently performing</h5>
  <div class="card-body">
  <div class="row justify-content-left">
    <div class="col">
      <div class="form-group ">

       <table class="table table-striped">
    <button type="button" id="addRowBtn" class="btn btn-success">+</button>
    <thead>
    <td class="col-3"> Job Performed </td>
    <td class="col-2"> Whenever this work done </td>
    <td class="col-1"> Time alloted for this job </td>
    <td class="col-1"></td>
    <td class="col-1">  Is this within your current job description </td>
    <td class="col-4"> Reason for doing this task </td>
     
    </thead>
    <tbody id="formContainer">
      <!-- Use fields_for to handle nested attributes -->
  <%= f.fields_for :jb_performeds do |jb| %>
        <tr>
          <td>
          <br>
            <div class="mb-3">
              
              <%= jb.input :job_performed, label: false, input_html:{class: 'form-control next-input'}  %>
            </div>
          </td>
          <td class=> 
           <div class="mb-3">
          <label></label>
          <%= jb.select :job_done, options_for_select(["", "Daily", "Monthly", "Quarterly", "Annually"], jb.object.job_done), {}, class: 'form-select shorter-inputs next-input' %>
          </div>
          </td>
          <td class="">
            <div class="mb-3">
            <label></label>
              <label>Hours</label>
              <%= jb.number_field :job_hr, class: 'form-control shorter-input next-input' %>
            </div>
          </td>
          <td>
            <div class="mb-3">
              <label>Minutes</label>
              <%= jb.number_field :job_min, class: 'form-control shorter-input next-input' %>
            </div>
          </td>
         <td class="">
         <br>
    <div class="mb-3">
       
        <div class="row">
            <div class="col">
                <div class="form-check">
                    <%= jb.radio_button :job_current, 'true', class: 'form-check-input next-input' %>
                    <label class="form-check-label">Yes</label>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <%= jb.radio_button :job_current, 'false', class: 'form-check-input next-input' %>
                    <label class="form-check-label">No</label>
                </div>
            </div>
        </div>
    </div>
</td>

          <td class="">
            <div class="mb-3">
              <label></label>
              <%= jb.input :job_reason, label: false, input_html:{class: 'form-control long-input next-input'} %>
            </div>
          </td>
          <td>
            <div class="mb-3">
              <br>
              <!-- Add remove button for each row -->
              <button type="button" class="btn btn-danger remove-row">Remove</button>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

      </div>
      </div>
      </div>
       </div>
      </div>
<br>
  <div class="form-actions">
    <%= f.button :submit, @button_label, name: 'save_button', class: action_name == 'new' ? 'btn btn-primary' : 'btn btn-success', id: 'float' %>
   
     <% if current_user.emp_detail.present? %>
  <%= link_to 'Previous', edit_emp_detail_path(current_user.emp_detail), class: 'btn btn-secondary' %>
<% end %>
  </div>
<% end %>


<script>
 document.getElementById('addRowBtn').addEventListener('click', function() {
  var tbody = document.getElementById('formContainer');
  var rowCount = tbody.getElementsByTagName('tr').length;

  var newRow = document.createElement('tr');
  newRow.innerHTML = `
    <td>
    <br>
      <div class="mb-3">
      
        <input type="text" name="jb_description[jb_performeds_attributes][${rowCount}][job_performed]" class="form-control next-input">     </div>
    </td>
    <td>
    <br>
      <div class="mb-3">
       
        <select name="jb_description[jb_performeds_attributes][${rowCount}][job_done]" class="form-select shorter-inputs next-input">
          <option value="none" selected>Select</option>
          <option value="Daily">Daily</option>
          <option value="Monthly">Monthly</option>
          <option value="Quarterly">Quarterly</option>
          <option value="Annually">Annually</option>
        </select>
      </div>
    </td>
    <td>
      <div class="mb-3">
        <label>Hours</label>
        <input type="number" name="jb_description[jb_performeds_attributes][${rowCount}][job_hr]" class="form-control next-input shorter-input">
      </div>
    </td>
    <td>
      <div class="mb-3">
        <label>Minutes</label>
        <input type="number" name="jb_description[jb_performeds_attributes][${rowCount}][job_min]" class="form-control next-input shorter-input">
      </div>
    </td>
    <td>
    <br>
      <div class="mb-3">
        <div class="row">
            <div class="col">
        <div class="form-check">
          <input type="radio" name="jb_description[jb_performeds_attributes][${rowCount}][job_current]" value="true" class="form-check-input next-input">
          <label class="form-check-label">Yes</label>
        </div>
         </div>
         <div class="col">
        <div class="form-check">
          <input type="radio" name="jb_description[jb_performeds_attributes][${rowCount}][job_current]" value="false" class="form-check-input next-input">
          <label class="form-check-label">No</label>
        </div>
      </div>
      </div>
    </td>
    <td>
    <br>
      <div class="mb-3">
      
        <input type="text" name="jb_description[jb_performeds_attributes][${rowCount}][job_reason]" class="form-control next-input long-input">
      </div>
    </td>
    <td>
      <div class="mb-3">
        <br>
        <button type="button" class="btn btn-danger remove-row">Remove</button>
      </div>
    </td>
  `;

  tbody.appendChild(newRow);
});

// Add event listener to handle remove button clicks
document.getElementById('formContainer').addEventListener('click', function(e) {
  if (e.target && e.target.className == 'btn btn-danger remove-row') {
    var row = e.target.closest('tr');
    row.parentNode.removeChild(row);
  }
});

//for next enter input
 document.addEventListener('DOMContentLoaded', function() {
    var inputs = document.querySelectorAll('.next-input');

    for (var i = 0; i < inputs.length; i++) {
        inputs[i].addEventListener('keydown', function(event) {
            if (event.keyCode === 13) {  // Check for the Enter key
                event.preventDefault();
                var currentIndex = Array.from(inputs).indexOf(event.target);  // Get the current element's index
                var nextIndex = (currentIndex + 1) % inputs.length;  // Get the next element's index. Loop to the start if we're at the end.
                inputs[nextIndex].focus();  // Focus the next element
            }
        });
    }
});



  document.getElementById('addrows').addEventListener('click', function() {
  var tbody = document.getElementById('description');
  var rowCount = tbody.getElementsByTagName('tr').length;
  
  var newRow = document.createElement('tr');
  newRow.innerHTML = `
    <td class="col-11">
      <input type="text" name="jb_description[nested_descriptions_attributes][${rowCount}][description]" class="form-control">
    </td>
    <td>
      <button type="button" class="removebenefit btn btn-danger">Remove</button>
    </td>
  `;
  
  tbody.appendChild(newRow);
});

  // Add event listener to handle remove button clicks
  document.getElementById('description').addEventListener('click', function(e) {
    if (e.target && e.target.className == 'removebenefit btn btn-danger') {
      var row = e.target.closest('tr');
      row.parentNode.removeChild(row);
    }
  });

</script>