<div id="<%= dom_id req_training %>">
  <p>
    <strong>Train type:</strong>
    <%= req_training.train_type %>
  </p>

  <p>
    <strong>Train benefit:</strong>
    <%= req_training.train_benefit %>
  </p>

  <p>
    <strong>Sup name:</strong>
    <%= req_training.sup_name %>
  </p>

  <p>
    <strong>Sup title:</strong>
    <%= req_training.sup_title %>
  </p>

</div>
