<%= content_tag :h1, "List of Req Trainings" %>


<div class="text-end mb-3">
  <%= link_to new_req_training_path, class: 'btn btn-primary' do %>
    New Req Training
  <% end %>
</div>


  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
      <th>#</th>
            <th>Train Type</th>
            <th>Train Benefit</th>
            <th>Sup Name</th>
            <th>Sup Title</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
      <% @req_trainings.each do |req_training| %>
        <tr>

        <th scope="row"><%= req_training.id %></th>
        <td><%= req_training.train_type %></td>
        <td><%= req_training.train_benefit %></td>
        <td><%= req_training.sup_name %></td>
        <td><%= req_training.sup_title %></td>
    
          <td>
            <%= link_to 'View', req_training, class: 'btn btn-secondary btn-sm' %>
            <%= link_to 'Edit', edit_req_training_path(req_training), class: 'btn btn-secondary btn-sm' %>
            <%= link_to "Delete", req_training, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
