<div id="<%= dom_id nested_othperforme %>">
  <p>
    <strong>Job performed:</strong>
    <%= nested_othperforme.job_performed %>
  </p>

  <p>
    <strong>Job done:</strong>
    <%= nested_othperforme.job_done %>
  </p>

  <p>
    <strong>Job hr:</strong>
    <%= nested_othperforme.job_hr %>
  </p>

  <p>
    <strong>Job min:</strong>
    <%= nested_othperforme.job_min %>
  </p>

  <p>
    <strong>Job current:</strong>
    <%= nested_othperforme.job_current %>
  </p>

  <p>
    <strong>Job reason:</strong>
    <%= nested_othperforme.job_reason %>
  </p>

</div>
