<style>
#float, #submit-button{
  Position:relative;
float:right;
 margin-left: 10px;
}
</style>

<% unless @user.submitted %>
  <%= link_to 'Add Data', new_emp_detail_path, class: 'btn btn-success', id: 'float' %>
<% end %>

 <%= link_to 'Edit', edit_emp_detail_path(current_user.emp_detail), class: 'btn btn-warning' if @user.submitted %>



<%= link_to "Generate PDF", pdf_home_path(current_user), class: "btn btn-primary" if @user.submitted %>


<br>
<br>

<div class="card">
  <h5 class="card-header text-uppercase">Employee Details</h5>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <tbody>
        <tr>
          <td><strong>Full Name:</strong></td>
         <td><%= "#{@emp_detail.firstname} #{@emp_detail.middlename} #{@emp_detail.lastname}".upcase %></td>
          <td><strong>Position Title:</strong></td>
          <td><%= @emp_detail.pos_title&.upcase %></td>
        </tr>
        <tr>
          <td><strong>Employee ID:</strong></td>
          <td><%= @emp_detail.emp_id %></td>
          <td><strong>Years in Service:</strong></td>
          <td><strong>Years:</strong> <%= @emp_detail.ser_year %></td>
          <td><strong>Month:</strong> <%= @emp_detail.ser_month %></td>
        </tr>
        <tr>
          <td><strong>Email:</strong></td>
          <td><%= @user.email.upcase %></td>
          <td><strong>Mobile No.:</strong></td>
          <td><%= @emp_detail.contact %></td>
        </tr>
        <tr>
         <td><strong>Division:</strong></td>
          <td> <%= @emp_detail.division&.upcase %></td>
          <td><strong>Department:</strong> </td>
          <td><%= @emp_detail.department&.upcase %></td>
        </tr>
         <tr>
         <td><strong>Immediate Superior:</strong></td>
          <td> <%= @emp_detail.sup_name&.upcase %></td>
          <td><strong>Immediate Superior Position:</strong> </td>
          <td><%= @emp_detail.sup_title&.upcase %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
<div class="card">
  <h5 class="card-header text-uppercase">Position Details</h5>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <tbody>
        <tr>
          <td><strong>Work Hours Perday:</strong></td>
          <td><%= @emp_detail.hr_perday %></td>
          <td><strong>Work Hours Perweek:</strong></td>
          <td><%= @emp_detail.hr_perweek %></td>
        </tr>
        <tr>
          <td><strong>Break Time:</strong></td>
          <td><%= @emp_detail.break %></td>
          <td><strong>Lunch Time:</strong></td>
          <td><%= @emp_detail.launch %></td>
           <td><strong>Workdays:</strong></td>
          <td><%= @emp_detail.workday %></td>
        </tr>
       <tr>
  <td><strong>Overtime Weekday:</strong></td>
  <td>
    <% if @emp_detail.ot_weekday.present? %>
      <%= @emp_detail.ot_weekday ? 'Yes' : 'No' %>
    <% end %>
  </td>
   <td><strong>Overtime Weekend:</strong></td>
  <td>
    <% if @emp_detail.ot_weekend.present? %>
      <%= @emp_detail.ot_weekend ? 'Yes' : 'No' %>
    <% end %>
  </td>
  <td><strong>Benefits:</strong></td>
  <td>
    <ul>
      <% if @emp_detail.benefits.present? %>
        <% @emp_detail.benefits.each do |benefit| %>
          <li><%= benefit.benefit %></li>
        <% end %>
      <% else %>
        <li>No benefits found</li>
      <% end %>
    </ul>
  </td>
</tr>
        
          
       
      </tbody>
    </table>
  </div>
</div>

<br>

<div class="card">
  <h5 class="card-header text-uppercase">Job Description</h5>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <tbody>
       
          <tr>
            
            <td><%= @jb_description.description %></td>
             </tr>
            <%if @jb_description.nested_descriptions.present? %>
            <%@jb_description.nested_descriptions.each do |description|%>
            <tr>
              <td><%= description.description%> </td>
               </tr>
            <%end%>  
            <%end%>
         
          </tbody>
          </div>
          </div>

<br>

<div class="card">
  <h5 class="card-header text-uppercase">Current task based on your job description</h5>
  <div class="card-body">
<% if @jb_description.jb_performeds.present? %>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <td><strong>Job Performed</strong></td>
      <td><strong>How often do you perform this task?</strong></td>
      <td><strong>Time alloted for this job</strong></td>
      <td><strong>Is this within your current job description?</strong></td>
      <td><strong>Reasons for doing this task</strong></td>
    </tr>
  </thead>
  <tbody>
    <% if @jb_description.jb_performeds.present? %>
      <% @jb_description.jb_performeds.each do |jb_performed| %>
        <tr>
          <td><%= jb_performed.job_performed.upcase %></td>
          <td><%= jb_performed.job_done.upcase %></td>
          <td><%= "#{jb_performed.job_hr} hour/s #{jb_performed.job_min} mins" %></td>
          <td><%= jb_performed.job_current ? 'Yes' : 'No' %></td>
          <td><%= jb_performed.job_reason %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="5">No job performed data available</td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <!-- Handle the case when jb_performeds is nil or empty -->
  <p>No job performed data available</p>
<% end %>
  </div>
</div>


<br>
<div class="card">
  <h5 class="card-header text-uppercase">Task Performance</h5>
  <div class="card-body">
    <table class="table table-bordered table-striped">
    <thead>
    <tr>
    <td><strong>Required Competencies</strong></td>
    </tr>
    </thead>
      <tbody>
        <% @taskperformance.competencies.each do |competency| %>
          <tr>
            
            <td><%= competency.competencies %></td>
          </tr>
        <% end %>

           

        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Task that are not done</th>
                <th>Reasons for not doing the task</th>
                <th>Impact of not doing the task</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @taskperformance.task_notdone&.upcase %></td>
              <td><%= @taskperformance.task_reason&.upcase %></td>
              <td><%= @taskperformance.task_impact&.upcase %></td>
            </tr>
            <% @taskperformance.nested_taskperfomances.each do |nested| %>
              <tr>
                <td><%= nested.task_notdone.upcase %></td>
                <td><%= nested.task_reason.upcase %></td>
                <td><%= nested.task_impact.upcase %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </tbody>
    </table>
  </div>
</div>

<br>

<% if @other_positions.any? %>
  <% @other_positions.each do |other_position| %>
    <div class="card">
      <h5 class="card-header">Other Position - <%= other_position.pos_title %></h5>
      <div class="card-body">
        <div style="height: 400px; overflow-y: auto;">
          <!-- Table for other_positions and other_performed -->
          <table class="table table-lg">
            <thead>
              <tr>
                 <th>Position Title</th>
                <th>Position Year</th>
                <th>Position Month</th>
                <th>Job Performed</th>
                <th>How often do you perform this task?</th>
                <th>Time allotted for this job</th>
                <th></th>
                <th>Is this within your current job description?</th>
                <th>Reason for doing this task</th>
              </tr>
            </thead>
            <tbody>
              <% other_perfromeds = other_position.other_perfromeds %>
              <% other_taskperformances = other_position.other_taskperformances %>
              <% other_competences = other_position.other_competences %>
              <% other_perfromeds.each_with_index do |performed, index| %>
                <tr>
                  <% if index == 0 %>
                    <td rowspan="<%= other_perfromeds.count %>"><%= other_position.pos_title %></td>
                    <td rowspan="<%= other_perfromeds.count %>"><%= other_position.pos_yr %></td>
                    <td rowspan="<%= other_perfromeds.count %>"><%= other_position.pos_month %></td>
                  <% end %>
                  <td><%= performed&.job_performed %></td>
                  <td><%= performed&.job_done %></td>
                  <td><%= performed&.job_hr %></td>
                  <td><%= performed&.job_min %></td>
                  <td><%= performed&.job_current ? 'Yes' : 'No' %></td>
                  <td><%= performed&.job_reason %></td>
                 
                </tr>
              <% end %>
            </tbody>
          </table>

          <!-- Table for other_taskperformances -->
          <table class="table table-lg">
            <thead>
              <tr>
                <th>Task that are not done</th>
                <th>Reasons for not doing the task</th>
                <th>Impact of not doing the task</th>
              </tr>
            </thead>
            <tbody>
              <% other_taskperformances.each do |task_performance| %>
                <tr>
                  <td><%= task_performance&.task_notdone %></td>
                  <td><%= task_performance&.task_reason %></td>
                  <td><%= task_performance&.task_impact %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <!-- Table for other_competences -->
          <table class="table table-lg">
            <thead>
              <tr>
                <th>Competencies</th>
              </tr>
            </thead>
            <tbody>
              <% other_competences.each do |competence| %>
                <tr>
                  <td><%= competence&.competencies %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="card">
    <h5 class="card-header">Other Positions</h5>
    <div class="card-body">
      <div style="height: 400px; overflow-y: auto;">
        <p>No data available</p>
      </div>
    </div>
  </div>
<% end %>

<br>

<div class="card">
  <h5 class="card-header text-uppercase">Required Training for the Position</h5>
  <div class="card-body">
    
           <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <td><strong>Type of Training</strong></td>
          <td><strong>Benefits of training to your current role</strong></td>
         
        </tr>
      </thead>
      <tbody>
      <tr>
            <td><%= @req_training.train_type.upcase %></td>
            <td><%= @req_training.train_benefit.upcase %></td>
          </tr>
        <% @req_training.nested_trainings.each do |training| %>
          <tr>
            <td><%= training.train_type.upcase %></td>
            <td><%= training.train_benefit.upcase %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    </div>


    <br>

<div class="card">
  <h5 class="card-header text-uppercase">Previous Training Related to the Job Role</h5>
  <div class="card-body">
        <table class="table table-bordered table-striped">
          <thead>
        <tr>
          <td><strong>Type of Training</strong></td>
          <td><strong>Benefits of training to your current role</strong></td>
        </tr>
      </thead>
      <tbody>
      <tr>
           
        <% @req_training.rel_trainings.each do |reltraining| %>
          <tr>
            <td><%= reltraining.train_type.upcase %></td>
            <td><%= reltraining.train_benefit.upcase %></td> 
          </tr>
        <% end %>
      </tbody>
        </table>
      </tbody>
    </table>
</div>
</div>

<br>

<div class="card">
  <h5 class="card-header text-uppercase">Previous Training Not Related to the Job Role</h5>
  <div class="card-body">
     <table class="table table-bordered table-striped">
          <thead>
        <tr>
          <td><strong>Type of Training</strong></td>
          <td><strong>Benefits of training to your current role</strong></td>
        </tr>
      </thead>
      <tbody>
      <tr>
           
        <% @req_training.notrel_trainings.each do |notreltraining| %>
          <tr>
            <td><%= notreltraining.train_type.upcase %></td>
            <td><%= notreltraining.train_benefit.upcase %></td> 
          </tr>
        <% end %>
      </tbody>
        </table>
      </tbody>
    </table>
  </div>
</div>

<br>

<div class="card">
  <h5 class="card-header text-uppercase">Requested Training (not related to the job role)</h5>
  <div class="card-body">
     <table class="table table-bordered table-striped">
          <thead>
        <tr>
          <td><strong>Type of Training</strong></td>
          <td><strong>Benefits of training to your current role</strong></td>
        </tr>
      </thead>
      <tbody>
      <tr>
           
        <% @req_training.request_trainings.each do |request| %>
          <tr>
            <td><%= request.train_type.upcase %></td>
            <td><%= request.train_benefit.upcase %></td> 
          </tr>
        <% end %>
      </tbody>
        </table>
      </tbody>
    </table>
  </div>
</div>

<br>

