<%= form_with(model: other_perfromed, class: "contents") do |form| %>
  <% if other_perfromed.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(other_perfromed.errors.count, "error") %> prohibited this other_perfromed from being saved:</h2>

      <ul>
        <% other_perfromed.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :job_performed %>
    <%= form.text_field :job_performed, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :job_done %>
    <%= form.text_field :job_done, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :job_hr %>
    <%= form.number_field :job_hr, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :job_min %>
    <%= form.number_field :job_min, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :job_current %>
    <%= form.check_box :job_current, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :job_reason %>
    <%= form.text_field :job_reason, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
