
<%= simple_form_for(@oth_task) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :oth_tasknotdone %>
    <%= f.input :oth_reason %>
    <%= f.input :oth_impact %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
