<div id="<%= dom_id oth_performed %>">
  <p>
    <strong>Job performed:</strong>
    <%= oth_performed.job_performed %>
  </p>

  <p>
    <strong>Job done:</strong>
    <%= oth_performed.job_done %>
  </p>

  <p>
    <strong>Job hr:</strong>
    <%= oth_performed.job_hr %>
  </p>

  <p>
    <strong>Job min:</strong>
    <%= oth_performed.job_min %>
  </p>

  <p>
    <strong>Integer:</strong>
    <%= oth_performed.integer %>
  </p>

  <p>
    <strong>Job current:</strong>
    <%= oth_performed.job_current %>
  </p>

  <p>
    <strong>Job reason:</strong>
    <%= oth_performed.job_reason %>
  </p>

</div>
