<div id="<%= dom_id jb_performed %>">
  <p>
    <strong>Job performed:</strong>
    <%= jb_performed.job_performed %>
  </p>

  <p>
    <strong>Job done:</strong>
    <%= jb_performed.job_done %>
  </p>

  <p>
    <strong>Job hr:</strong>
    <%= jb_performed.job_hr %>
  </p>

  <p>
    <strong>Job min:</strong>
    <%= jb_performed.job_min %>
  </p>

  <p>
    <strong>Job current:</strong>
    <%= jb_performed.job_current %>
  </p>

  <p>
    <strong>Job reason:</strong>
    <%= jb_performed.job_reason %>
  </p>

</div>
